<!--<div *ngFor="let u of utenti;let i=index">
<p>{{u.getUsername()}} - {{u.getUserEmail()}} id: {{ u.getUserId()}} </p><button mat-raised-button color="warn" (click)="onDelete(u.getUserId())">Elimina</button>
<button mat-raised-button color="accent" (click)="onClickEdit(u,i,$event)" [ngStyle]="{'disabled': showForm}">{{showForm}}</button>
</div>-->
<!--<div style="margin-top:10px;">
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput name="search" (keyup)="applyFilter($event)">
</mat-form-field>
</div>-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #tabella>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- id Column -->
    <!--<ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput name="search" (keyup)="applyFilter($event)">
        </mat-form-field>
      
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>-->
    <!--<div *ngIf="showInput">ciao</div>-->
    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>
        <div>  
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput name="search" (keyup)="applyFilter($event)">
        </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role || 'guest'}} </td>
    </ng-container>
    <!-- Edit Column -->
    <ng-container matColumnDef="editAction">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab (click)="onClickEdit(element,'Edit')">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <!--Delete Column-->
    <ng-container matColumnDef="deleteAction">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab (click)="onClickDelete(element,'utente')">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="changeRole">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab (click)="onClickEdit(element,'ChangeRole')">
          <mat-icon>supervised_user_circle</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row;columns: displayColumns;" (click)="onClickRow(row)"></tr>
  </table>
  <button mat-raised-button color="primary" *ngIf="role === 'admin'"
    (click)="onClickAdd({id:'',username:'',email:'',password:'',role:''},'Add')">Add</button>
  <!--<form [formGroup]="userForm" (ngSubmit)="onSubmitEdit()" *ngIf="showForm">
      
      <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput  name="username" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput  name="username" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">change</button>
        <button mat-raised-button color="warn" (click)="showForm = false">undo</button>
  </form>-->