/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.col_center {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  table{
    width: 100%;
  }

  .main_content_col{
    display: flex;
    flex-direction: column;
    width:100%;
    max-height: 100%;
    height:auto;
    margin:12.5% 0;
    min-height: 25%;
    text-align: center;
}

.stand_img{
    
    width:100%;
    max-height:100%;
    min-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

  